### Yüklü bir paketin versiyonuna bakma

In [10]:
import seaborn as sns
print(sns.__version__)

0.9.0

### Bir paketi yükleme

In [11]:
!pip install seaborn==0.9

Requirement already satisfied: seaborn==0.9 in c:\users\test\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: numpy>=1.9.3 in c:\users\test\anaconda3\lib\site-packages (from seaborn==0.9) (1.15.1)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\test\anaconda3\lib\site-packages (from seaborn==0.9) (2.2.3)
Requirement already satisfied: scipy>=0.14.0 in c:\users\test\anaconda3\lib\site-packages (from seaborn==0.9) (1.1.0)
Requirement already satisfied: pandas>=0.15.2 in c:\users\test\anaconda3\lib\site-packages (from seaborn==0.9) (0.23.4)
Requirement already satisfied: cycler>=0.10 in c:\users\test\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn==0.9) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\test\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn==0.9) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\test\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn==0.9) (2.7.3)
Requirement already satisfied: pytz in c:\users\test\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn==0.9) (2018.5)
Requirement already satisfied: six>=1.10 in c:\users\test\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn==0.9) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\test\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn==0.9) (1.0.1)
Requirement already satisfied: setuptools in c:\users\test\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn==0.9) (40.2.0)

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Veri okuma

In [14]:
import pandas as pd
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data")
df.head()

,Afghanistan,5,1,648,16,10,2,0,3,5.1,...,0.5,0.6,1.6,0.7,0.8,1.7,0.9,0.10,black,green.1
0,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
1,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
2,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
3,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
4,Angola,4,2,1247,7,10,5,0,2,3,...,0,0,1,0,0,1,0,0,red,black